.all-products {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(8, 200px);
    grid-gap: 10px;
}

.all-products div {
    border: 1px solid black;
    padding: 10px;
}

.hot-products {
    margin-bottom: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    border: 20px solid pink;
    padding: 15px;
    /* border-inline: 10px solid pink; */
}

.hot-products div {
    border: 1px solid black;
    padding: 10px;
}

.all-products div img, .hot-products div img {
    height: 150px;
    width: auto;
    display: block;
    margin: auto;
}