.compare-products {
  display: block;
  margin: auto;
  width: 80rem;
  max-width: 90%;
}
.title {
  display: block;
  .title-head {
    color:black;
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dc5a85;
  }
  .show-compare-products {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    // padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    .img-compare {
      display: block;
      margin: auto;
      width: auto;
      height: 250px;
    }
    .name-compare {
      display: inline-block;
      text-align: center;
    }
  }
}
