body {
  margin: 0;
  font-family: "Prompt", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Prompt", "Roboto", sans-serif monospace;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Roboto", "Prompt", sans-serif monospace; */
}