.select-products {
    display: block;
    margin: auto;
    width: 80rem;
}

.show-products {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.show-products .show-select-products {
    padding: 1rem;
    width: 66rem;
    height: 1500px;
}

.show-products .side-bar {
    width: 13rem;
}

/* HEAD */

div.title-type {
    display: table;
    margin: auto;
}

div.title-type>h1 {
    display: inline-block;
    margin: 50px;
    vertical-align: middle;
    /* font-family: "Roboto"; */
    color: #807E7F;
    font-size: 50px;
}

.line {
    display: inline-block;
    width: 320px;
    height: 0.15rem;
    /* border: 1px solid #707070; */
    background: #707070;
}

.underline {
    display: table;
    margin: auto;
}

.underline span {
    background: #707070;
    display: inline-block;
    /* border: 1px solid #707070; */
    height: 0.15rem;
    margin: 20px;
}

/* BRAND FILTER */

.brand-filter .filter {
    text-align: left;
    margin: 10px 0;
}

.brand-filter .filter .select-filter {
    text-align: center;
    width: 9rem;
}

/* PRODUCT AFTER FILTER */

.product {
    display: block;
    margin: auto;
    width: 200px;
    cursor: pointer;
}

.product img {
    display: block;
    margin: auto;
    width: auto;
    height: 190px;
}

.find {
    font-size: 36px;
    color: black;
}

/* SIDEBAR */

.side-bar-container {
    position: -webkit-sticky;
    margin-top:5rem;
    position: sticky;
    padding: 1rem;
    top: 0;
    border: 1px solid black;
}